/*
Name:   Jefferson Christ
Date:   11/2/2024
Assign: Fit For Fun Fitness Club
*/

html {
    background-color: rgb(230, 230, 230);
}

body {
    display: block;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 1000px;
}

header {
    text-align: center;
    font-size: 30px;
    background-color: orange;
    color: white;
}

h1 {
    padding-top: 30px;
}

nav > ul{
    list-style-type: none;
    padding-bottom: 70px;
}

a {
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}

h2 {
    padding-top: 55px;
    padding-left: 10%;
}

p {
    padding-left: 10%;
    padding-right: 40%;
}

img {
    width: 300px;
    float: right;
    padding-right: 10%;
}

footer {
    padding-top: 100px;
    margin-top: 100px;
    position:static;
    background-color: orange;
    color: white;
    text-align: center;
    height: 100px;
}

table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
}

form {
    margin-left: 25%;
    margin-right: 25%;
}

label {
    display: block;
    padding-bottom: 10px;
    position:relative;
}

input {
    position: absolute;
    left: 15%;
    width: 300px;
}

#submit {
    width: 100px;
    position: initial;
}

.container {
    padding-left: 15%;
}
